/* common css styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}

h1,
h3,
h2,
h4,
h5,
h6,
a,
li,
ul,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.description {
    line-height: 30px;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 20px;
    color: var(--description-color);
}

body {
    background: var(--primary-bg);
    color: var(--primary-color);

}
.dark-them{
    background: var(--primary-color);
    color: var(--primary-bg);
    
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* button */
.btn-primary{
    all: unset;
    padding: 10px 18px;
    text-transform: uppercase;
    background: var(--secondary-bg);
    border-radius: 6px;
    cursor:default;
}
.button-modified{
    background: var(--primary-color);
    color: var(--primary-bg);
}
.primary-title{
    text-transform: capitalize;
    font-weight: bolder;
    margin: 1em 0;


}
.common-title{
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 900;
    margin-top: 20px;

}
.container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 300px;
}

/* variable name */
:root {
    --primary-bg: #0e1012;
    --secondary-bg: #000000;
    --primary-color: #ffffff;
    --secondary-color: #eee4e4;
    --optional-color: #068FFF;
    --description-color: #ffffff9a;
}

/* =================header styles start================= */
header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: end;
}

.trigger {
    cursor: pointer;
    margin: 0 15px;
    display: none;

}

.active .trigger-line:nth-child(2){
    opacity: 0;
    
}
.active .trigger-line:nth-child(3){
    transform: translateY(-12px) rotate(45deg);
    
}
.active .trigger-line:nth-child(1){
    transform: translateY(12px) rotate(-45deg);
    
}

.trigger-line {
    height: 2px;
    width: 30px;
    background: var(--primary-color);
    margin-bottom: 10px;
    transition: 0.3s ease-in-out;

}

.trigger-line:last-child {
    margin-bottom: 0;
}


/* left part styles start */
.row {
    margin: 0;
    padding: 0;
}

/* theme styles start */
.theme-switcher {
    position: fixed;
    right: 0%;
    top: 50%;
    border-radius: 30px 0px 0px 30px;
    padding: 8px 20px;
    transform: translate(0%, 0%);
    font-size: 25px;
    background: var(--secondary-bg);
    cursor: pointer;
    display: none;
}

.left-part {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background: var(--secondary-bg);
    z-index: 100;
    padding: 0;
    transition: .3s ease-in-out all;

}

.copyright, .country-margin-modified{
    padding-left: 16px;
}
.copyright >.description{
    margin-bottom: 0;
    margin-top: 30px;
}
.left-part .list-group {
    display: grid;
    width: 100%;
    text-align: start;
    justify-content: center;
}

.left-part .list-group-item {
    color: var(--secondary-color);
    background: var(--secondary-bg);
    border: none;
    font-size: 1rem;
    text-transform: capitalize;
    transition: .3s ease-in-out;

}
.left-part .list-group-item:hover{
    transform: translate(10px, 0);

    letter-spacing: 2 !important;
}

/* left site active styles */
.list-group-item.list-group-item.active {
    color: var(--optional-color);

}


.left-part-inner {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}



/* right part profile styles start */

.right-part .profile-content {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    height: 90vh;
   
}
.profile-des-break{
    margin-top: 30px !important;
}

.right-part .profile-content .profile-picture {
    padding: 0 100px 0 0;
    /* padding: 200px 200px 200px 0 ; */
    flex:1;

}

.right-part .profile-content .profile-info {
    /* width: 60%; */
    flex:1;

}

.right-part .profile-content .profile-info .profile-title {
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.right-part .profile-content .profile-info .profile-subtitle {
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 400;
}

/* social icon */
.right-part .profile-content .profile-info .profile-icon a {
    font-size: 20px;
    margin-right: 20px;
    color: var(--secondary-color);
    transition: 0.2s ease-in-out;
}
.upwork{
    display: inline;
    height: 30px;
    width: 30px;
}

.right-part .profile-content .profile-info .profile-icon a:hover {
    transform: translate(10px, 0);
    color: var(--optional-color);
}
/* right part about styles start */
.about-title-picture .about-picture{
    height: 500px;
    border-radius: 6px;
}
.about-title-picture .about-picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.about-title-picture .title{
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
    text-transform: capitalize;
}
.horizontal-line{
    opacity: 0.1;
    margin: 20px 0;
}

.short-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    
   
}
.about-email-modified{
    text-transform: none !important;
}
.about-contents .short-info .short-info-item{
    justify-content: start;
    display: flex;
    
}
.about-contents .short-info .short-info-item h3{
    min-width: 150px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}
.about-contents .short-info .short-info-item .description {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.about-title-picture .resume button a{
    color: var(--primary-bg);
}
/* about progress styles start */

.progress-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-bottom: 100px;
}
.progress-container .title-margin{
    margin: 100px 0;
}
.progress-container .skill-item{
    color: var(--description-color);
    margin-bottom: 1.5em;
}
.progress-container .skill-item .skill-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    text-transform: capitalize;
}
.progress-container .skill-item .skill-bar{
    position: relative;
    width: 100%;
    height: 3px;
    background:var(--description-color);
}
.progress-container .skill-item .skill-bar .primary-bar-overly{
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 0%;
    background: var(--optional-color);
}
.skill-percent{
    color:var(--primary-color);
}
#after-effect{
    width: 90%;
}
#premier-pro{
    width: 90%;
}
#photoshop, #illustrator{
    width: 70%;
}
#moho, #blender{
    width: 80%;
}
#audition{
    width: 98%;
}


/* about knowledge styles start */
.knowledge-containers{
    background: var(--secondary-bg);
    padding: 50px 0;
}
.knowledge-container{
    background: var(--secondary-bg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}
.knowledge-container li {
    text-transform: capitalize;
    color: var(--description-color);
    font-size: 1.;
}

.knowledge-container li i{
    color: var(--primary-color);
    margin-right: 10px;
}

/* Education and experience styles start */
.edu-experience-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 100px; */
}
.inner-contents{
    position: relative;
}
.title-margin{
    margin: 40px 0 40px 10px;
}
.inner-contents .inner-item{
    display: flex;
    align-items: center;
}
.education-container{
    position: relative;
}
 .education-container::after{
    position: absolute;
    content: "";
    left: 9px;
    top: 0px;
    width: 2px;
    opacity: 0.5;
    height: 100%;
    background:var(--description-color);
    z-index: -1;
}
 .inner-item .circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--secondary-bg);
    border: 1px solid var(--description-color);
}
.inner-contents .inner-item button{
    all: unset;
    margin-left: 5px;
    background: var(--secondary-bg);
    border-radius: 50px;
    padding: 7px 15px;
    color: var(--description-color);
    width: 103px;
    
    
}
.inner-contents .inner-item{
    margin-bottom: 2.5em;
}
.inner-contents .inner-item .info{
    margin-left: 20px;
}
.inner-contents .inner-item .info-title{
    font-size: 15px
}
.inner-contents .inner-item .info-subtitle{
    margin-top: 4px;
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: var(--description-color);
}

/* -------portfolio styles start------- */
/* portfolio header styles */
.portfolio-button-content .list-group{
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
}
 .portfolio-button-content .list-group-item-action {
    all: unset;
    width: auto;
    margin-right:15px ;
    border-radius: 8px;
    background: var(--secondary-bg);
    color: var(--description-color);
    padding: 10px 18px;
    cursor: pointer;
    text-transform: capitalize;
}
.portfolio-inner-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    grid-auto-flow: dense;

}
/*  horizontal section */
.horizontal-full{
    grid-column: span 2;
}
/* vertically */
.vertically{
    grid-row: span 2;
}
.portfolio-inner-item{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    
    
}
.portfolio-inner-item .icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.portfolio-inner-item .icon::after{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: 90px;
    transform-origin: center;
    border: 2px solid var(--optional-color); 
    border-radius: 50%;
    animation: portfolio 3s  linear infinite;
    z-index: -1;
}
/* play button  animation  */
@keyframes portfolio{
    0%{
        height: 0;
        width: 0;
        border: none;
        opacity: 0;
    }
   
    40%{
        border: 5px solid rgba(6, 143, 255, 0.370);;
        opacity: 1;
        height: 40px;
        width: 40px;
     
    }
    60%{
        border: 5px solid rgba(6, 143, 255, 0.370);
        opacity: 1;
        height: 40px;
        width: 40px;
    }
    100%{
        height: 0;
        width: 0;
        border: none;
        opacity: 0.5;
        border: 1px solid rgba(6, 143, 255, 0.370);
    }


}

.portfolio-inner-item .icon a i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:var(--optional-color);
    width: 100;
}
/* .portfolio-inner-item .icon */

/* contact styles start */
.contact-container .google-map{
    width: 100%;
}
.contact-container .form-section{
    margin: 50px 0;

}
.contact-container input, textarea{
    all: unset;
    display: block;
    width: 97%;
    margin-bottom: 20px;
    padding: 10px 2%;
    border: 1px solid var(--description-color);
    text-transform: capitalize;
}
.contact-container textarea{
    height: 200px;
    height: 200px;
    padding: 10px 2%;
 
}

.hide{
    display: none;
}
